.main-bg {
  background-image: url('../img/main-bg.svg');
  background-size: cover;
  background-position: center center;
  color: var(--white-color) ;
}

.white-bg {
  background: var(--white-color) ;
  color: var(--primary-color);
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: 10rem var(--gap);
}

.section {
  min-height: 100vh;
}

.menu-spacing {
  height: 65px;
}

body .full-width {
  width: 100%;
  flex: 1 1 100%;
}

.btn-cta {
  background: #0d6efd;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 999px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: .15s ease;
}

.btn-cta:hover {
  background: #084dbf;
  transform: translateY(-2px);
  box-shadow: 0 10px 25px rgba(0,0,0,.25);
}